.list{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
    padding: 0 1em;
}
.list h1{
    padding: .75em 0;
}

.list_ul{
    overflow-x: scroll;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.list_li{

}