@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.profile_default{
    width: 138px;
    height: 175px;
    background-image: url(./assets/default-cast.svg);
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    background-color: #dbdbdb;
}
.poster_default{
    width: 150px;
    height: 225px;
    background-image: url(./assets/default-poster.svg);
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    background-color: #dbdbdb;
}
.small_poster_default{
    width: 94px;
    height: 141px;
    background-image: url(./assets/default-poster.svg);
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    background-color: #dbdbdb;
}
.small_backdrop_default{
    width: 250px;
    height: 141px;
    background-image: url(./assets/default-poster.svg);
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    background-color: #dbdbdb;
}
.ant-menu-title-content{
    color: #fff;
}
.anticon-close{
    color: #fff;
}